.statsContainer {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.statBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.icon {
    font-size: 2rem;
    margin-bottom: 8px;
}

.value {
    font-size: 1.8rem;
    font-weight: bold;
    color: #952ff8;
    margin-bottom: 5px;
}

.label {
    font-size: 1rem;
    color: #444;
    text-align: center;
}
.AnimatedStatsIcons{
    color:  rgb(51, 123, 165);
}